html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #071E3F;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.app-container {
  padding: 1.5rem;
}

.app-container > h1 {
  margin: 0;
  border-bottom: solid 2px rgba(250,250,250, 0.15);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 0 1rem;
}

.app-container > h1 span {
  color: #DAA520;
}

.app-container > p {
  margin: 1.5rem 0;
}

.app-container .loading-container {
  min-height: calc(100vh - 250px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-container .loading-container h3 {
  color: #8FCAF9;
  font-weight: 400;
}

.team-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
}

.MuiAccordionSummary-content {
  display: flex;
  gap: 0 1rem;
}

.team-container {
  color: black;
}

.team-container .expand-button {
  width: 110px;
  background: none;
  color: #8FCAF9;
  border: solid 1px #8FCAF9;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  margin-left: auto;
  cursor: pointer;
}

.team-container h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.keeper-container .player:last-of-type {
  margin-top: 1rem;
}

.keeper-container .player .best {
  display: flex;
  align-items: center;
  gap: 0 0.75rem;
  margin: 0 0 0.5rem;
}

.keeper-container .player .confidence {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
}

.keeper-container .player .confidence .score {
  padding: 0.25rem;
  color: white;
  border-radius: 3px;
  font-weight: 600;
  font-size: 0.85rem;
}

.keeper-container .player .confidence .score.green {
  background: green;
}

.keeper-container .player .confidence .score.green-orange {
  background: #A09802;
}

.keeper-container .player .confidence .score.orange {
  background: #E46700;
}

.keeper-container .player .confidence .score.red {
  background: red;
}

.keeper-container .player .best .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: green;
  border-radius: 50%;
  color: white;
  padding: 0.15rem;
}

.keeper-container .player-info {
  background: #f3f3f3;
  padding: 0.75rem;
  border-radius: 5px;
}

.keeper-container .player-info > div {
  margin-left: 0.5rem;
  color: #424242;
}

.keeper-container .player-info > div:first-of-type {
  margin: 0 0 0.5rem;
  color: black;
}

.keeper-container .player-info h3 {
  margin: 0;
  font-size: 1.15rem;
}

.keeper-container .player-info .stat-table {
  margin: 1rem 0 0.5rem;
  font-size: 0.8rem;
}

.keeper-container .player-info .stat-table table {
  width: 100%;
}

.keeper-container .player-info .stat-table table thead {
  background: rgba(0,0,0, 0.6);
  color: white;
}

.keeper-container .player-info .stat-table table th,
.keeper-container .player-info .stat-table table td {
  padding: 0.25rem 0.5rem;
  text-align: left;
}

.keeper-container .player-info .stat-table table tbody tr:last-of-type {
  background: rgba(0,0,0, 0.1)
}

* {
  box-sizing: border-box;
}
