html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #071E3F;
}

a {
  color: inherit;
  text-decoration: none;
}

.app-container {
  padding: 1.5rem;
}

.team-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
}

.MuiAccordionSummary-content {
  display: flex;
  gap: 0 1rem;
}

.team-container h3 {
  margin-bottom: 10px;
}

.keeper-container .player {
  display: flex;
}

.keeper-container .player .name {
  width: 225px;
}

.keeper-container .player .round {
  width: 100px;
}

.keeper-container .player .adp {
  width: 150px;
}


* {
  box-sizing: border-box;
}
